*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    body{
        background-color: azure;
    }
   
}
h1{text-align: center;
    background-color: blueviolet;
    padding: 5px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px 0px 174px 274px;
}
.form {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.form form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;
    border: 2px solid black;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    background-color: #caf4e8;
}
label{
    font-size: 1.1rem;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
input{
    margin-top: 2px;
    border-radius: 4px;
    height:30px;
    width:15rem; 
    padding: 2px;
    border: 1px solid black;
    
}

button{
    width: 15rem;
    height: 30px;
    background-color:#3a026e;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}
button:hover{
    background-color: blueviolet;
}
#result{
    margin-top: 10px;
    color: gray;
    text-align: center;
    width: 281px;
    height: 40px;
   border-radius: 6px;
   background-color:black; 
   padding: 10px;
   font-family: sans-serif;
}

h2,h3{
    text-align: center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    padding-top: 10px;
   font-weight: 400;
   color: cadetblue;
}
.guide p{text-align: center;
    font-size: 0.8rem;
    color: darkgrey;

}
footer{
    height:30vh;
    background-color: black;
    color: rgb(160, 163, 165);
    display: flex;
    margin-top: 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }